/********************************** reset ********/
* {
    list-style:none;
    border:0;
    text-decoration:none;
    margin:0;
    padding:0;
    outline:0;
}



@-moz-keyframes fade-it {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-it{

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-it {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    display: block !important;
    animation-name: fade-it;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    -webkit-animation-name: fade-it;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}

.shell {
    position:relative;
    width:80%;
    margin:25px auto;
}

h1 {
    position: relative;
    width: 100%;
    margin:0 auto 20px auto;
}

h2 {
    width:100%;
    background-color: blue;
    text-align: center;
    box-sizing:border-box;
    padding:15px 2.5% 15px 2.5%;

}

.items {
    position: relative;
    width: 100%;
    margin:auto;
}

.items li {
    position:relative;
    box-sizing: border-box;
    padding:2.5%;
    width: 15%;
    color:#fff;
    opacity: 0;
    float:left;
    display: none;
}

.controller {
    position:relative;
    float: left;
    width:100%;
    margin-bottom:20px;

    label {
        font-size: 14px;
        padding: 6px 12px;
    }

    input {
        width: 65px;
        font-size: 14px;
        background-color:#eee;
        padding: 15px 12px;
        margin-right: 10px;
    }

    button {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

}

//IE9
html.ie9 {

    .items li {
        opacity: 1 !important;
    }
}