/********************************** reset ********/
* {
    list-style:none;
    border:0;
    text-decoration:none;
    margin:0;
    padding:0;
    outline:0;
}

@-moz-keyframes fade-it {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-it{

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-it {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    display: block !important;
    animation-name: fade-it;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    -webkit-animation-name: fade-it;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
}

h1 {
    position: relative;
    width: 80%;
    margin:25px auto 20px auto;
}

h2 {
    width:100%;
    background-color: blue;
    text-align: center;
    box-sizing:border-box;
    padding:15px 2.5% 15px 2.5%;

}

.items {
    position: relative;
    width: 80%;
    margin:auto;
}

.items li {
    position:relative;
    box-sizing: border-box;
    padding:2.5%;
    width: 15%;
    color:#fff;
    opacity: 0;
    float:left;
    display: none;
}